<div class="aboutPage" > <!-- ng-controller="aboutCtrl" provided through mainCtrl routing --> 
  <div class="aboutContainer">
    <div class="aboutContent">
      <p> This is an app that allows you to view the number of available parking spots in all public parking garages in Santa Monica.</p>
      <br>
      <p> All information is retrieved from the City of Santa Monica's
        <a href="https://parking.api.smgov.net/">Parking Data API</a>.</p>
      <br>
      <p> This project was built with <a href="https://angularjs.org/">AngularJS</a>
         using the <a href="http://ui.lumapps.com/">LumX</a> front-end framework.</p>
      <br>
      <p> Created by <a href="http://ericfram.com">Eric Fram</a>.</p>
      <br>
      <a href="https://github.com/EricFram/SaMo-Parking-App">
      <button class="btn btn--m btn--blue btn--flat" lx-ripple>View this Project on Github</button>
      </a>
    </div>
  </div>
</div>
