


<div class="mapPage" > <!-- ng-controller="mapCtrl" provided through mainCtrl routing -->


  <div class="mapLegendContainer">

    <div class=mapLegend>
      <p class="fs-body-2 display-block">
        <button class="btn btn--xs btn--black btn--flat" lx-ripple><img src='images/red.png'> &nbsp < 25 spots avail. </button>
        <button class="btn btn--xs btn--black btn--flat" lx-ripple><img src='images/orange.png'> &nbsp 25 - 149 spots avail.</button>
        <button class="btn btn--xs btn--black btn--flat" lx-ripple><img src='images/green.png'> &nbsp 150 - 299 spots avail.</button>
        <button class="btn btn--xs btn--black btn--flat" lx-ripple><img src='images/blue.png'> &nbsp 300+ spots avail.</button>
        </p>
    </div>
    <div class="preLoaderDiv" ng-show="preLoader"><lx-progress lx-type="linear" lx-color="primary"></lx-progress></div>
  </div>


  <ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <ui-gmap-markers
    idkey="lots.id"
    models="lots"
    coords="'self'"
    icon="'icon'"
    >
    <ui-gmap-windows show="show">
      <div ng-non-bindable>
        <p>{{street_address}}</p>
        <p>Avail. Spaces: {{available_spaces}}</p>
        <a href="http://maps.google.com/?q={{street_address}} Santa Monica, CA">
          <button id="directionsButton" ng-click="FlurryAgent.logEvent('directionClick');" class="btn btn--m btn--blue btn--raised" lx-ripple>
            Directions
          </button>
        </a>
      </div>
    </ui-gmap-windows>
  </ui-gmap-markers>

</ui-gmap-google-map>

<script src="flurry/flurryMapPage.js"> </script>

</div>
